* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.cabecera__img {
    width: 160px;
    margin-top: 10px;
    margin-left: 10px;
}

/*Section del login*/

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    padding: 60px 68px 40px; 
    width: 400px;
    min-height: 630px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.login__container h2 {
    font-size: 1.8rem;
    text-align: center;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.login__container--recordarme {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px
}

.login__container--recordarme a {
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
}

.login__container--recordarme a:hover {
    text-decoration: underline;
}

.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.login__container--social-media img {
    width: 30px;
    margin-right: 10px;
}

.login__container--registro {
    font-size: 1.4rem;
}

.login__container--registro a {
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.login__container--registro a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    color: white;
    height: 50px;
}

::placeholder {
    color: white;
}

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 50px;
    letter-spacing: 0.3rem;
    margin: 10px 0px;
}

::-webkit-scrollbar { /*Quita las barritasde scroll*/
    display: none;
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0;
        width: 100%;
    }

    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}