/*Variables*/

/*Colores*/
$blanco: white;

/*Font family*/
$familia: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

/*Displays*/
.flex {
    display: flex;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: $familia;
}

.cabecera {
    @extend .flex;
    // display: flex;
    justify-content: space-between;
    // align-items: center;
    width: 100%;
    height: 80px;
}

.cabecera__img {
    width: 160px;
    margin-top: 10px;
    margin-left: 10px;
}

.cabecera__menu {
    margin-right: 20px;
    color: $blanco;
}

.cabecera__menu ul {
    position: absolute;
    display: none; 
    list-style: none;
    width: 100px;
    text-align: right;
}

.cabecera__menu:hover ul, ul:hover {
    display: block;
}

.cabecera__menu li {
    margin: 10px 0px;
}

.cabecera__menu li a {
    color: $blanco;
    text-decoration: none;
    font-size: 1.6rem;
}

.cabecera__menu li a:hover {
    text-decoration: underline;
}

.cabecera__menu--profile{
    margin-right: 60px;
    margin-top: 10px;
    width: 40px;
    display: flex;
}

.cabecera__menu--profile p{
    font-size: 1.6rem;
    margin: 10px 0 0 7px;
}

/*Section main*/
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
}

.main__title {
    color: $blanco;
    font-size: 2rem;
    margin-bottom: 15px;
}

.input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid $blanco;
    border-radius: 25px;
    color: $blanco;
    font-size: 1.5rem;
    height: 4rem;
    padding: 0px 20px;
    width: 70%;
    outline: none;
}

::placeholder {
    color: $blanco;
}

.categories__title {
    color: $blanco;
    font-size: 1.6rem;
    position: absolute;
    padding-left: 30px;
}

.carousel {
    display: flex;
    width: 90%;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding-left: 20px;
    position: relative;
}

.carousel__container {
    white-space: nowrap; /*Esto hace que el contenido siga de largo*/
    margin: 60px 0px;
    padding-bottom: 10px;
}

.carousel-item {
    display: inline-block;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    transform: scale(1.3);
    opacity: 1;
}

.carousel::-webkit-scrollbar-thumb {
    display: none;
}

.carousel::-webkit-scrollbar {
    height: 5px;
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover; /*hace que la imagen cubra el contenido de manera correcta*/
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%); /*Gradiente de opacidad desde abajo hasta arriba*/
    font-size: 1rem;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1.4rem;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.carousel-item__details img {
    height: 20px;
}

.carousel-item__details p {
    margin: 0;
}

.carousel-item__details:hover {
    opacity: 1;
    color: $blanco;
}

::-webkit-scrollbar { /*Quita las barritasde scroll*/
    display: none;
}

.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.footer a {
    color: $blanco;
    cursor: pointer;
    font-size: 1.4rem;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
